@model IEnumerable<OrganizeYourGames.ViewModels.HomePageItem>
@addTagHelper *, OrganizeYourGames
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <vc:latest-games></vc:latest-games>
    <vc:latest-inserts></vc:latest-inserts>
</div>
